.App {
  text-align: center;
}

.total-price {
  font-weight: bold;
}

.data-card + .data-card {
  margin-top: 10px;
}

.scroll-end {
  padding: 10px 0;
  height: 50px;
}

.loading {
  font-weight: bold;
}
